/WeeGUI.xcodeproj/project.xcworkspace/xcuserdata/
/WeeGUI.xcodeproj/xcuserdata/
/gui.lst
/guidemo.lst
/gui
/guidemo
/guidemo.o
.DS_Store
mouse.lst
asmdemo.lst
weegui.lst
MouseText.xcf
Documentation_HTMLtables.md
